body{
    width: 100%;
    height: 100%;
    background: url(/assets/images/login_bg.jpg) no-repeat;
    background-size: cover;
}
.header-img{
    padding-top: 30px;
}
.login{
    width: 400px;
    height: 310px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 0 30px;
    box-sizing: border-box;
}
.login-Header{
  text-align: center;
  margin: 20px 0 20px 0;
  
}
.login-bottom a{
    float: right;
}
.layui-form-item {
    position: relative;
}
.layui-form-item input{
    padding-left: 30px;
}
.layui-icon {
    position: absolute;
    left: 8px;
    top:50%;
    transform: translateY(-50%);
}
.zhuce{
    display: none;
}
